[Desktop Entry]
Encoding=UTF-8
Version=1.0
Type=Application
Terminal=false
Name=QDL
GenericName=Download manager
Comment=Download files from the internets
Exec=/opt/qdl/bin/qdl
Icon=qdl
Categories=Network
X-Window-Icon=
X-HildonDesk-ShowInToolbar=true
X-Osso-Service=com.marxoft.QDL
X-Osso-Type=application/x-executable
